header.header
    .header_top
        .wrap
            .wrap_header.wrap_flex
                p.phone.header_phone
                    i.fas.fa-phone-alt.main_color
                    | 8 800 00 00
                .user_admin.wrap_flex
                    .change_val.wrap_flex
                        .block_change_val
                            i.fa.fa-dollar-sign
                        .block_arrow.decor
                            i.arrow.down
                    .personal
                        a(href="#")
                            i.fa.fa-user
                            | Личный кабинет
    .header_center
        .wrap
            .wrap_header.center
                .block_logo
                    p.logo.header_logo
                        span.upper My
                        span.main_color Shop
                .block_search
                    form(action="#")
                        .wrap_form
                            input(type="text", name="search" placeholder="Название продукта")
                            select(name="category")
                                option(value="all_category") Все категории
                                option(value="computers") Компьютеры и периферия
                                option(value="notebooks") Ноутбуки и планшеты
                                option(value="game") Игры и приставки
                                option(value="audio") Аудиотехника
                                option(value="photo") Фото и видео
                                option(value="smartphone") Смартфоны
                                option(value="TV") Телевизоры
                                option(value="components") Комплектующие для ПК
                            button
                                i.fa.fa-search
                .block_cart
                    .like
                        i.fa.fa-heart
                        .counter_like
                            p 12
                    .cart
                        a(href="#")
                            i.fas.fa-shopping-bag
                        .counter_cart
                            p 0
                    .sum
                        i.fas.fa-ruble-sign
                        p 310 000
    .header_content
        .wrap
            .wrap_catal_and_slider
                .nav_catalog
                    h3.catalog
                        i.fas.fa-bars
                        | Каталог
                    nav.nav   
                        ul.nav_list
                            li.list_item
                                a(href="#" class="bold nav_link") Топ-100
                            li.list_item
                                a(href="#" class="bold nav_link") Новинки
                            li.list_item
                                a(href="#" class="bold nav_link") Распродажа
                            li.list_item
                                a(href="#" class="nav_link") Компьютеры и периферия
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item
                                a(href="#" class="nav_link") Ноутбуки и планшеты
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item
                                a(href="#" class="nav_link") Игры и приставки
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item
                                a(href="#" class="nav_link") Аудиотехника
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item
                                a(href="#" class="nav_link") Фото и видео
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item  
                                a(href="#" class="nav_link") Смартфоны
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item
                                a(href="#" class="nav_link") Телевизоры
                                    .block_arrow-right
                                        i.arrow.right
                            li.list_item
                                a(href="#" class="nav_link") Комплектующие для ПК
                                    .block_arrow-right
                                        i.arrow.right
                        
                .block_nav_and_slider
                    nav.nav_menu
                        ul
                            li
                                a(href='#').nav_menu-link.active Главная
                            li
                                a(href='#').nav_menu-link Каталог
                            li
                                a(href='#').nav_menu-link Новости
                            li
                                a(href='#').nav_menu-link Контакты
                    .slider
                        -var banner = [{description: 'Microsoft Xbox', anotation: 'Твой путь в фантазию', period: 'До 14.03.2020 действует скидка', priceBefore: '15000', priceAfter: '12000', img: 'static/img/header_slider_1.png'}, {description: 'Microsoft Xbox', anotation: 'Твой путь в фантазию', period: 'До 14.03.2020 действует скидка', priceBefore: '15000', priceAfter: '12000', img: 'static/img/header_slider_2.png'}, {description: 'Microsoft Xbox', anotation: 'Твой путь в фантазию', period: 'До 14.03.2020 действует скидка', priceBefore: '15000', priceAfter: '12000', img: 'static/img/header_slider_1.png'}];

                        each intro in banner
                            .slider_content#js-slide
                                .block_descr
                                    h3.descr=intro.description
                                    p.anotation=intro.anotation
                                    p.period=intro.period
                                    p.price
                                        span.price_before=intro.priceBefore
                                        span.price_after=intro.priceAfter
                                    button Купить
                                .block_img
                                    img.banner(src=intro.img)
                    .slider_coursour
                            div.slide#js-click
                            div.default_slide#js-click
                            div.default_slide#js-click



                                                                    
